{% extends 'passgenerator/layout.html' %}

{% block content %}
<h2> Description </h2>
<p> Nuestro Generador de Contraseñas Aleatorias es una herramienta en línea que 
    te permite crear contraseñas sólidas y altamente seguras de manera conveniente y personalizada. 
    Con la creciente necesidad de proteger tu información en línea, es esencial contar con contraseñas que 
    sean difíciles de adivinar. Nuestra herramienta te ayuda a lograr exactamente eso. </p>
<h2> How to use it </h2>
<ul>
    <li> Establece la longitud deseada para tu contraseña. </li>
    <li> Selecciona los parámetros que deseas incluir en tu contraseña: letras minúsculas, letras mayúsculas, 
    caracteres especiales y números. </li>
    <li> Haz clic en el botón "generate password". </li>
    <li> Copia y pega la contraseña generada en el campo correspondiente de la plataforma que estás utilizando. </li>
</ul>
<script src="" async defer></script>
{% endblock %}
